---
const times = [
  { name: "صبح", value: "12-9", id: "morning" },
  { name: "ظهر", value: "15-12", id: "noon" },
  { name: "عصر", value: "18-15", id: "afternoon" },
];
---

<div class="absolute z-0 flex flex-col gap-5 py-10 opacity-0" id="time-input">
  <div class="flex flex-col items-center gap-1">
    <i class="fa-regular fa-clock mb-5 text-5xl text-gray-500"></i>
    <h3 class="text-xl font-semibold">انتخاب زمان تحویل</h3>
    <p class="text-sm">یکی از زمان های نمایش داده شده را انتخاب کنید</p>
  </div>
  <div class="mx-auto flex flex-shrink-0 gap-3">
    {
      times.map(({ name, value, id }) => (
        <div class="flex h-40 w-24 flex-shrink-0 overflow-hidden rounded-full">
          <input
            class="peer"
            type="radio"
            name="delivery_time"
            hidden="hidden"
            id={id}
            value={value}
          />
          <label
            for={id}
            class="relative flex h-full w-full cursor-pointer flex-col items-center justify-center gap-5 overflow-hidden bg-black text-white"
          >
            <span class="absolute bottom-0 left-0 right-0 top-0 bg-gradient-to-b from-ct-club-primary to-primary opacity-0 transition-all duration-300" />
            <span class="relative font-semibold">{name}</span>
            <span class="relative text-3xl font-semibold">{value}</span>
          </label>
        </div>
      ))
    }
  </div>
</div>
<style is:global>
  input[name="delivery_time"]:checked ~ label span:first-child {
    @apply opacity-100;
  }
</style>
