---
const links = [
  { name: "Index", path: "/" },
  { name: "Sign in", path: "/sign-in" },
  {
    name: "Basket",
    items: [
      { name: "Page - Step 1", path: "/basket/step-1" },
      { name: "Page - Step 2", path: "/basket/step-2" },
    ],
  },
];
---

<!DOCTYPE html>
<html lang="fa" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Router" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Router</title>
  </head>
  <body
    class="flex min-h-screen flex-col items-center justify-center bg-gradient-to-tl from-black to-neutral-950 px-5 py-10 font-jost"
  >
    <div
      class="absolute mb-32 ml-10 h-32 w-16 rotate-45 border-8 border-primary blur-xl"
    >
    </div>

    <div
      class="absolute mr-80 mt-16 h-32 w-16 -rotate-45 border-8 border-sky-700 blur-xl"
    >
    </div>

    <div
      class="absolute ml-72 mt-40 h-32 w-16 -rotate-45 rounded-full border-8 border-green-400 blur-xl"
    >
    </div>

    <div
      class="z-10 flex min-h-[10rem] w-96 flex-col gap-5 rounded-md border border-neutral-900 bg-neutral-950/80 px-5 py-5 text-gray-50 shadow-sm backdrop-blur-xl"
    >
      <div class="text-4xl font-semibold">
        <span
          class="bg-gradient-to-r from-green-500 to-sky-500 bg-clip-text tracking-wide text-transparent"
        >
          Page's
        </span>
      </div>
      <ul class="flex flex-col text-lg font-normal">
        {
          links.map(({ name, path, items }) => (
            <li
              class="group flex translate-x-0 translate-y-0 flex-col text-gray-500 transition-all duration-200"
              class:list={[
                !items &&
                  "hover:-translate-y-0.5 hover:translate-x-0.5 hover:text-white",
              ]}
            >
              <span class="flex items-center gap-4">
                <a href={path}>{name}</a>
                {items && (
                  <span class="h-[1px] flex-1 bg-green-300/20 transition-all duration-200 group-hover:bg-green-300" />
                )}
              </span>

              {items && (
                <ul class="ml-2 mt-1 flex flex-col border-l border-green-300/20 pl-4 transition-all duration-200 group-hover:border-green-300">
                  {items.map(({ name, path }) => (
                    <li class="flex translate-x-0 translate-y-0 items-center gap-4 text-gray-500 transition-all duration-200 hover:-translate-y-0.5 hover:translate-x-0.5 hover:text-white">
                      <a href={path}>{name}</a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
